openai
langchain
langgraph
langchain-openai
langchain-community
psycopg2-binary
pgvector
python-dotenv
requests
slack-sdk
langchain-postgres
langchain-groq
pymupdf4llm==0.0.17
fastcoref==2.1.6
spacy==3.7.4
pyarrow
langchain-huggingface
sentence-transformers
fastapi
uvicorn
pydantic
flask
python-dotenv
numpy<2.0.0
